body {
  /*border: 2px solid black;*/
  margin: 0px;
  width: 100%;
  min-height: 500px;
  min-width: 322px;
  background-color: #038387;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#timer {
  font-size: 0px;
  border: 2px solid black;
  text-align: center;
  font-weight: bold;

}
#timer>span {
  font-size: 20vmin;

}


footer {
  height: 125px;
  width: 100%;
  background-color: #dcdcdc;
  bottom: 0px;
  min-width: 320px;

position: absolute;
text-align: center;
}
#buttons {
  display: inline-block;
}

#refresh {
  height: 48px;
  width: 48px;
  margin-top: 12px;
  display: inline-block;
}
#start-stop {
  height: 60px;
  width: 60px;
  margin-left: 37px;
  margin-top: 4px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  display: inline-block;
}
#edit {
  height: 48px;
  width: 48px;
  margin-left: 37px;
  margin-top: 12px;
  display: inline-block;
}
#img-refresh, #img-edit {
  margin-top: 14px; 
}
#img-start, #img-stop {
  margin-top: 20px; 
}