body {
  background-color: #f2f2f2;
  /*border: solid black 1px;*/
  margin: 0px;
  padding: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  height: 12px;
}
.timer-box {
  height: 205px;
  max-width: 344px;
}
.timer-box {
  box-sizing: border-box;
  border: 2px solid #dadada;
}
#timer {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 0px;

}
#timer>span {
  font-size: 42px;
}
#refresh {
  height: 48px;
  width: 48px;
}
#expand {
  height: 48px;
  width: 48px;
}
#img-refresh, #img-expand {
  margin-top: 14px;
  margin-left: 14px;
}
#refresh:hover, #expand:hover {
  background-color:#dadada;
}


footer {
height: 48px;
background-color: #dcdcdc;
bottom: 0px;
left: 0px;
right: 0px;
position: absolute;

}
#new {
  width: 68px;
  height: 48px;
  right: 68px;
  position: absolute;
  /*box-sizing: border-box;
  border: solid black 1px;*/
  text-align:center;
}
#img-new, #img-manage {
 margin-top: 14px;
}
#manage {
  width: 68px;
  height: 48px;
  position: absolute;
  right: 0px;
  text-align:center;
  /*box-sizing: border-box;
  border: solid black 1px;*/
}
footer>div:hover {
 background-color: #c6c6c6;
}
