body {
  background-color: #f2f2f2;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
  height: 12px;
}
#noTimer {
  color: #919191;
  font-size: 24px;
  font-weight: lighter;
  padding-left: 20px;

}
#newTimer {
padding-left: 20px;
  font-weight: bolder;
}

#inputField {
 margin-top: 10px;
 color: #666666;

}
 input {
  height: 28px;
  width: 80px;
  font-size: 20px;
  font-weight: lighter;
  color: #666666;
  text-align: center;

}

.container {
text-align: center;
font-size: 0px;
display: none;
}
.timer-box {
  height: 204px;
  width: 344px;
  border: 2px solid black;
  display: inline-block;
  margin: 5px;
}
.timer-box:hover {
  box-sizing: context-box;
  border: 2px solid #dadada;
}
#timer {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 0px;
}
#timer>span {
  font-size: 42px;
}
#refresh {
  height: 48px;
  width: 48px;
  margin-top: 12px;
  display: inline-block;
}

#start-stop {
  height: 60px;
  width: 60px;
  margin-left: 42px;
  margin-top: 4px;
  border-radius: 50%;
  box-sizing: context-box;
  border: 2px solid #c5c5c5;
  display: inline-block;
}
#start-stop:hover {
  background-color:#dadada;
}

#edit {
  height: 48px;
  width: 48px;
  margin-left: 42px;
  margin-top: 12px;
  display: inline-block;
}

#img-refresh, #img-edit {
  margin-top: 14px; 

}

#img-start, #img-stop {
  margin-top: 20px; 
}



#refresh:hover, #edit:hover {
  background-color:#dadada;
}


/*FOOTER*/
footer {
height: 48px;
background-color: #dcdcdc;
bottom: 0px;
left: 0px;
right: 0px;
position: absolute;
text-align: right;
}
#new, #manage, #save, #back {
  width: 68px;
  height: 48px;
  text-align:center;
  display: inline-block;
}
#back {
  float: left;
}
#img-new, #img-manage, #img-save, #img-back {
 margin-top: 14px;
}
#back:hover, #new:hover, #manage:hover {
  background-color: #c6c6c6;
}

